[submodule "backend-core-service"]
	path = backend-core-service
	url = https://github.com/SayedKhaledd/backend-core-service.git
[submodule "keycloak-backend-client"]
	path = keycloak-backend-client
	url = https://github.com/SayedKhaledd/keycloak-backend-client.git
